.search {
  display: table;
  margin: auto;
}

.autocomplete {
  position: relative;
  display: inline-block;
  min-width: 25vmax;
}

input {
  border: 1px solid transparent;
  padding: 0.7rem;
  color: #505050;
  background-color: #d4d4d4;
  z-index: 1;
}

button[type="submit"] {
  border: 1px solid transparent;
  background-color: #e96e50;
  color: #fff;
  padding: 0.7rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  color: #505050;
}

.autocomplete-items div:hover {
  background-color: #e96e50;
  color: #f1f1f1;
}

.autocomplete-active {
  background-color: #e96e50 !important;
  color: #f1f1f1;
}
