<div class="search lighter">
  <div class="autocomplete">
    <input
      type="text"
      class="autocomplete"
      autoComplete="off"
      [(ngModel)]="inputText"
      (keydown)="keyDown($event)"
      placeholder="Pleas input city name here"
      appAutofocus
    />
    <div
      id="autocomplete-list"
      class="autocomplete-items"
      *ngIf="isAutocompleteShown"
    >
      <div
        class="itemList"
        *ngFor="let city of cityList; let i = index"
        (mouseenter)="onMouseOver(i)"
        (click)="showWeather(city)"
        [class.autocomplete-active]="i == cityListPointer"
      >
        {{ city.name }} , {{ city.country }}
      </div>
    </div>
  </div>
  <button type="submit" (click)="findCities()">
    <i class="icon-search"></i>
  </button>
</div>
